body{
    font-family: 'Arial', sans-serif;
    font-size: large;
}
.TituloIndex{
    color: blueviolet;
    text-align: center;
}
.contenedorCalculadora{
    width: 300px;
    height: fit-content;
    background-color: rgb(111, 90, 231);
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px;
}
.resultado{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}
#pantalla{
    width: 220px;
    font-size: larger;
    height: fit-content;
    text-align: right;
    font-size: medium;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}
.filaSuperior, .filaNumeros, .filaInferior{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.funciones{
   display: inline;
   padding: 10px;
   background-color: rgb(228, 90, 90);
   border: 1px solid black;
   border-radius: 10px;
}

.numeros, .punto{
    display: inline;
    padding: 10px;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}
.operador{
    display: inline;
    padding: 10px;
    background-color: rgb(151, 238, 139);
    border: 1px solid black;
    border-radius: 10px;
}
.funciones:hover{
    background-color: rgb(141, 50, 50);
    cursor: pointer;
}
.numeros:hover, .punto:hover{
    background-color: rgb(179, 147, 109);
    cursor: pointer;
}
.operador:hover{
    background-color: rgb(77, 124, 71);
    cursor: pointer;
}